.t-container{
  padding:10px ;

  .top-box{
    width: 100%;
    background-color: #fff;
    display:flex;
    align-items: center;
    border-radius: 13px;
    height:150px;
    padding:50px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    .left-box{
      display: flex;
      align-items: center;
      .date-box{
        display: flex;
        align-items: center;
        margin: 0 20px;
        .data-box-style{
          width:100px;
        }
        .box-date{
          margin-right:20px;
        }
      }

    }
    
  }
  .bottom-box{
    padding:60px 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 13px;
    margin-top:20px;
    .bottom-top-box{
      display: flex;
      .default-box{
        width:125px;
        height:35px;
        text-align: center;
        line-height: 35px;
        border:1px solid #eee;
        cursor: pointer;
      }
      .is-active{
        background-color: #169bd5;
        border:1px solid #169bd5;
        color:#fff;
      }
    }
    .list-box{
      margin-top:15px;
    }
    .page-box{
      display: flex;
      justify-content: flex-end;
      padding-top:20px;
    }
  }
}
.dia-top-box {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 30px 45px;
  align-items: center;
  border-radius: 8px;
  .top-left-box {
    border-radius: 8px;
    display: flex;
    line-height: 40px;
    .dia-title-box {
      height: 40px;
      width: 120px;
      border: 1px solid #eee;
      padding:0 20px;
    }
    .dia-title-content {
      height: 40px;
      width: 400px;
      border: 1px solid #eee;
      padding:0 20px;
    }
  }
}
.tran-box{
  margin-top:20px;
  background-color: #fff;
  padding: 30px 45px;
  border-radius: 8px;
}
.tran-box{
  .tran-box-title{
    padding-bottom:20px;
    font-weight: bold;
    font-size: 16px;
  }
  .grid-content{
    border:1px solid #eee;
    padding:10px 5px;
  }
}
.grid-bgc{
  background-color: #f2f2f2;
}
.send-box{
  display:flex;
  background-color: #fff;
  border-radius: 8px;
  margin-top:20px;
  padding:30px 45px;
  justify-content: space-between;
  .send-item{
    width:530px;
    .send-title{
      font-weight: bold;
      padding-bottom:20px;
    }
    .send-content{
      display: flex;
      line-height: 38px;

      .send-tab-title{
        padding:0 5px;
        width: 175px;
        background-color: #eee;
        border:1px solid #eee;
      }
      .send-tab-content{
        width:350px;
        padding:0 5px;
        border:1px solid #eee;
      }
    }
  }
}
.short-box{
  border-radius: 8px;
  margin-top:20px;
  padding:30px 45px;
  background-color: #fff;
  .short-title{
    font-weight: bold;
    padding-bottom:20px;
  }
}
.title-box{
  height:50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding:0 20px;
  background-color: #fff;
}
.box-content{
  
  background: #fff;
  padding:20px;
  .tree-title{
    margin-bottom:20px;
    font-weight: 700;
  }
}
.white-box{
  background-color: #fff;
  padding:20px;
  .box-title{
    font-weight: 700;
  }
  .box-content{
    display: flex;
    flex-wrap: wrap;
    .box-item{
      min-width:110px;
      height:60px;
      border:1px solid #eee;
      text-align: center;
      line-height: 60px;
      cursor: pointer;
      margin:10px 5px;
      padding:0 10px;
      
    }
    .is-active{
      color:#fff;
      background-color: #196db5;
      border:1px solid #196db5;
    }
  }
}
.add-btn{
  display: flex;
  justify-content: flex-end;
  color:#409eff;
  cursor: pointer;
}
.btn-center{
  text-align: center;
}
